$default-rem: 16px;
$page-max-width: 1600px;
$button-height-small: 2.5rem;
$button-height: 3rem;
$button-height-large: 3.25rem;

$purple: #be95ff;
$green: #51cf01;
$orange: #ffbc01;
$red: #ff321b;

$surface-0: #131313;
$surface-1: #252525;
$surface-2: #313131;
$surface-3: #444444;

$primary-text-color: #be95ff;
$secondary-text-color: #8f8f8f;

$onPrimary: $surface-0;
$onSurface-0: #f8f8f8;

$fade-gradient: linear-gradient(
    0deg,
    color-mix(in srgb, $surface-0 100%, transparent 50%) 0%,
    transparent 100%
);

$border-color-1: $surface-3;
$border-color-2: rgba(97, 97, 97, 0.5);

$border: 2px solid $border-color-1;
$box-shadow: 4px 4px 0 0 $surface-0;
$transition: 0.3s ease;
$transition-fancy: 0.4s cubic-bezier(0.19, 1, 0.22, 1);

$spacing-sizes: (
    "2xs": 0.125rem,
    "xs": 0.25rem,
    "s": 0.5rem,
    "sm": 0.75rem,
    "m": 1rem,
    "ml": 1.25rem,
    "l": 1.5rem,
    "xl": 2rem,
);

$text-sizes: (
    "xs": 0.75rem,
    "s": 0.875rem,
    "m": 1rem,
    "l": 1.25rem,
    "xl": 1.5rem,
    "2xl": 2rem,
    "3xl": 3rem,
);
