@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap-style: balance;
}

html {
    font-size: $default-rem;
}

body {
    background-color: $surface-0;
    color: $onSurface-0;
}

#__nuxt {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

main {
    flex: 1;
    width: 100%;
    max-width: $page-max-width;
    margin-inline: auto;
    padding: 1em;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a,
button {
    font: inherit;
    color: inherit;
}
