@use "variables" as *;

:root {
    font-family: "Exo 2", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap-style: balance;
}

html {
    font-size: $default-rem;
    scroll-behavior: smooth;
}

body {
    background-color: $surface-0;
    color: $text-primary;
    text-rendering: optimizeLegibility;
}

#__nuxt {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px $border-1;
    backdrop-filter: $filter-blur;
    background-color: $backdrop-color;
    z-index: 10;
}

main {
    flex: 1;
    width: 100%;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a,
button,
input,
textarea,
select {
    font: inherit;
    color: inherit;
}
