@use "variables" as *;

.flex-row {
    display: inline-flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.app-border {
    border: $border;
}

.app-shadow {
    position: relative;
    z-index: 0;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $surface-0;
        border: inherit;
        border-color: $surface-0;
        border-radius: inherit;
        transition: $transition-fancy;
        transform: translate(4px, 4px);
        z-index: -1;
    }
}

.text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.secondary-text {
    color: $secondary-text-color;
}

@each $name, $size in $spacing-sizes {
    .gap-#{$name} {
        gap: $size;
    }
}

@each $name, $size in $text-sizes {
    .text-#{$name} {
        font-size: $size !important;
    }
}

@for $w from 1 through 9 {
    .text-weight-#{$w}00 {
        font-weight: $w * 100;
    }
}
