@use "variables" as *;

@each $name, $size in $spacing-sizes {
    .gap-#{$name} {
        gap: $size;
    }
}

@each $name, $size in $text-sizes {
    .text-#{$name} {
        font-size: $size !important;
    }
}

@for $w from 1 through 9 {
    .text-weight-#{$w}00 {
        font-weight: $w * 100 !important;
    }
}

.flex-row {
    display: inline-flex;
    align-items: center;

    .start {
        margin-right: auto;
    }

    .center {
        margin: 0 auto;
    }

    .end {
        margin-left: auto;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.app-border {
    border: 2px $border-1;
}

.app-shadow {
    position: relative;
    z-index: auto;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $surface-0;
        border: inherit;
        border-color: $surface-0;
        border-radius: inherit;
        transition: $transition-fancy;
        transform: translate(4px, 4px);
        z-index: -1;
    }
}

.text-secondary {
    color: $text-secondary;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-overflow {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity $transition-fancy;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.slide-down-fade-enter-active,
.slide-down-fade-leave-active {
    transition: $transition-pop;
    transition-property: opacity, filter, transform;
    will-change: transform;
}
.slide-down-fade-enter-from,
.slide-down-fade-leave-to {
    opacity: 0;
    filter: blur(10px);
    transform: translate3d(50%, -50%, 0) scale(0);
}

.list-move,
.list-enter-active,
.list-leave-active {
    transition: $transition-fancy;
    transition-property: opacity, transform;
}

.list-enter-from {
    opacity: 0 !important;
    transform: translateY(-50%);
}

.list-leave-to {
    opacity: 0 !important;
    transform: translateY(50%);
}

.list-leave-active {
    position: absolute;
}
